# Read before developing

This folder should only container helper functions & components like if you use the same MediaUpload multiplaces,
or if you need apiFetch to get data from inside (or outsite) the WordPress enviroment.